%h1 Users#show
%p Find me in app/views/users/show.html.haml
=link_to('Deletee account', user_registration_path, method: :delete)
%ul
  -current_user.presenter_attributes.each do |attr|
    %li="#{attr.to_s.humanize}: #{current_user.send(attr)}"
  =link_to('Edit personal data', edit_biometrics_path)
